@page "/account"

<div class="dashboard">
	<duv class="head-home crypto-heading">
		<h4 class="heading">Account</h4>
	</duv>
	<p class="text-xs font-normal text-gray-400 crypto-heading">Register yourself in our application for complete access</p>
	<div class="mt-4 py-4 px-2 flex flex-row justify-between items-center rounded-md" style="background-color:#383838">
		<p class="font-bold">Already have an account?</p>
		<a href="Login">Login</a>
	</div>
	<div class="mt-4 py-4 px-2 flex flex-row justify-between items-center rounded-md" style="background-color:#383838">
		<p class="font-bold">Don't have an accounut?</p>
		<a href="Register">Register</a>
	</div>
</div>

@code {

}
