@page "/contact";

<div class="dashboard">
	<duv class="head-home crypto-heading">
		<h4 class="heading">Contact Us</h4>
	</duv>
	<p class="text-xs font-normal text-gray-400 crypto-heading">Discover over Exclusive Offers! Receive Updates, Promotions and Offers!</p>
	<div class="mt-4 py-4 px-2 flex flex-row justify-between items-center rounded-md" style="background-color:#383838">
		<p class="font-bold">Please contact us on Telegram</p>
		<a href="https://web.telegram.org/">https://web.telegram.org/</a>
	</div>
</div>

@code {

}